<main>
  <div class="sign-in-container">
    <img src="resource/network-high-resolution-logo-transparent.png" alt="NetWork Logo" class="logo">
    <form action="/login" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Sign In</button>
    </form>
  </div>
</main>
