<main class="main">
  <img src="resource/network-high-resolution-logo-transparent.png" alt="NetWork Logo" class="logo">
  <div class="buttons">
    <button routerLink="sign-in">Sign In</button>
    <button routerLink="sign-up">Sign Up</button>
  </div>
  <div class="background-text">Computer Science<br> Human Resources<br> Marketing
    <br> Public Administration<br> Sustainability <br>and Many More.</div>
  <div class="background-text2">Find Jobs<br> Publish Articles<br> Connect with People
    <br> Create Workspaces <br> Explore <br> Learn</div>
</main>
