* {
  color: white;
}

main {
  background-color: var(--darkest-grey);
  min-height: var(--height-minus-nav-bar);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

input {
  outline: none;
  height: 25px;
  width: 250px;

  padding: 5px;
  border: 2px solid #ff7701;

  background-color: transparent;
  border-radius: 1px;

  transition: border 0.15s;
}

input:focus {
  border: 2px solid #102b65;
}

button {
  background-color: transparent;
  color: #ffffff;
  font-size: 1em;
  margin-left: 10px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  border: 3px solid;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background: linear-gradient(to right, #ff7701, #248eff);
  box-shadow: 0 0 10px rgb(24, 89, 129);
}

.email {
  display: flex;
}

.password {
  display: grid;
  grid-template:
    "password password"
    "retype-password password-button";

  row-gap: 10px;
}

#password {
  grid-area: password;
}

#retype-password {
  grid-area: retype-password;
}

#password-button {
  grid-area: password-button;
}

.email, .password {
  margin-top: 5px;
  margin-bottom: 10px;
}

.gradient-text {
  font-size: 3em;
  font-weight: bold;
  background: linear-gradient(to right, #ff7701, #248eff);
  -webkit-background-clip: text;
  color: transparent;

  text-align: center;
}

.title {
  margin: 100px 0;
}

#msg {
  margin-top: 15px;
  text-align: center;

  background-image: var(--orange-blue);
  background-clip: text;
  color: transparent;
}
