* {
  color: white;
}

main {
  padding-top: 5px;
  min-height: calc(var(--height-minus-nav-bar) - 5px);
  background: var(--darkest-grey);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5px;
}

.buttons {
  display: flex;
  gap: inherit;
}

button {
  background-color: transparent;
  color: #ffffff;
  font-size: 1em;
  width: 130px;
  height: 40px;
  cursor: pointer;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background: linear-gradient(to right, #ff7701, #248eff);
  box-shadow: 0 0 10px rgb(24, 89, 129);
}

.users {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.user {
  display: flex;
  align-items: center;
  gap: inherit;

  border: 2px solid;
  border-image: var(--orange-blue) 1;

  width: 250px;

  padding: 5px;
}

p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.details {
  display: flex;
  align-items: center;
  gap: inherit;
  cursor: pointer;

  width: 200px;

  border-radius: 5px;
  padding: 5px;
}

.details:hover {
  background: var(--light-grey);
}

input[type=checkbox] {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.image-wrapper {
  border-radius: 50%;
  border: 2px solid var(--orange-blue-shadow);
  width: 50px;
  height: 50px;
  overflow: clip;

  img {
    width: inherit;
    height: inherit;

    object-fit: cover;
  }
}

input[type=text] {
  outline: none;
  height: 25px;
  width: 250px;

  padding: 5px;
  border: 2px solid #ff7701;

  background-color: transparent;
  border-radius: 1px;

  transition: border 0.15s;
}

input[type=text]:focus {
  border: 2px solid #102b65;
}
