main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, #2b2b2b, #272e3c, #26272a);
  background-size: 300% 100%;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  animation: background-animation 17s infinite;
}

@keyframes background-animation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}

.sign-in-container {
  border: 5px solid;
  background-color: #1c1c1e;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
  padding: 35px;
  border-radius: 10px;
  text-align: center;

  width: 400px;
}

.form-group {
  margin-bottom: 15px;
}

#pLabel, #firstNameLabel {
  grid-area: aLabel;
}

#cLabel, #lastNameLabel {
  grid-area: bLabel;
}

#password, #firstName {
  grid-area: aInput;
}

#confirmPassword, #lastName {
  grid-area: bInput;
}

.grid-group {
  display: grid;
  grid-template:
    "aLabel bLabel" auto
    "aInput bInput" auto;

  column-gap: 25px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  outline: none;

  color: #ffffff;

  width: 100%;
  height: 25px;

  padding: 5px;
  border: 2px solid #ff7701;

  background-color: transparent;
  border-radius: 1px;

  transition: border 0.15s;
}

input:focus {
  border: 2px solid #102b65;
}

button {
  padding: 8px 15px;
  margin-top: 15px;
  border-radius: 1px;
  font-size: 18px;
  border: 2px solid;
  border-image: linear-gradient(to right, #959ba8, #878787) 1;
  background: linear-gradient(to right, #333336, #2c2c2e);
  background-color: #1c1c1e;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  overflow: hidden;
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(23, 23, 23, 0));
  transition: all 0.5s ease;
}

button:hover::before {
  left: 100%;
}

button:hover {
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
  color: #ffffff;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.005);
  background-position: right center;
}

h2 {
  font-size: 3em;
  color: #00b4ff;
  margin: 0;
  text-align: center;
  transition: text-shadow 0.3s;
}

h2:hover {
  text-shadow: 0 0 10px #00b4ff, 0 0 20px #102b65, 0 0 30px #00b4ff; /* Glow effect */
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#avatar-input {
  border: 1px solid #00b4ff;

  width: 100px;
  height: 100px;

  border-radius: 50%;

  overflow: hidden;

  position: relative;
}

#avatar-display {
  object-fit: cover;
  height: 100px;

  overflow: hidden;
}

#avatar-input::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;

  top: 0;
  left: 0;

  background: rgba(0, 180, 255, 0.3);
  opacity: 0;

  transition: opacity 0.3s;
}

#avatar-input:hover::after {
  opacity: 1;
  cursor: pointer;
}

#avatar-label-wrapper {
  display: flex;
}

#avatar-label-wrapper > label {
  margin-right: 4px;
}

#avatar-label-wrapper > a {
  text-decoration: underline white;
}

#avatar-label-wrapper > a:hover {
  color: #cacaca;
  cursor: pointer;
}

#image-upload {
  display: none;
}

#errorMsg {
  background-image: var(--orange-blue);
  color: transparent;
  background-clip: text;

  margin-bottom: 5px;
}
