main {
  background: var(--darkest-grey);
  min-height: var(--height-minus-nav-bar);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 5px;
}

button {
  background-color: transparent;
  color: #ffffff;
  font-size: 1em;
  width: 130px;
  height: 40px;
  cursor: pointer;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background: linear-gradient(to right, #ff7701, #248eff);
  box-shadow: 0 0 10px rgb(24, 89, 129);
}

.page-buttons {
  display: flex;
  gap: 15px;
}
