* {
  box-sizing: border-box;
}

form {
  background-color: #1c1c1e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 92.3vh;
}

form > * {
  margin-bottom: 10px;
}

#success {
  color: lawngreen;
}

#post-text {
  padding: 10px;
  font-size: 16px;
  border: 4px solid;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
  border-radius: 4px;
  width: 400px;
  /*height: 500px;*/
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
  overflow-wrap: break-word;
  resize: both;
}

#skills-required {
  padding: 10px;
  font-size: 16px;
  border: 4px solid;
  border-image: linear-gradient(to right, #f1e509, #5d00ff) 1;
  border-radius: 4px;
  width: 400px;
  /*height: 500px;*/
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
  overflow-wrap: break-word;
  resize: both;
}

#post-text {
  height: 150px;
  min-height: 150px;
  resize: vertical;
}

.gradient-text {
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(to right, #ff7701, #248eff);
  -webkit-background-clip: text;
  color: transparent;
}

#media-upload {
  padding: 10px;
  font-size: 16px;
  border: 4px solid;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
  border-radius: 4px;
  width: 400px;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
  overflow-wrap: break-word;
  resize: both;
  display: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#media-upload-label {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #ff7701, #248eff);
  border: 4px solid;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#media-upload-label:hover {
  background: linear-gradient(to right, #ff7701, #248eff);
  box-shadow: 0 0 10px rgb(24, 89, 129);
}

#submit-button {
  background-color: #3e3e42;
  color: #ffffff;
  font-size: 1em;
  margin-left: 10px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  border: 3px solid;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#submit-button:hover {
  background: linear-gradient(to right, #ff7701, #248eff);
  box-shadow: 0 0 10px rgb(24, 89, 129);
}
