main {
  display: flex;
  color: white;
}

.post-wrapper {
  border: 5px solid white;
  border-image: var(--orange-blue) 1;

  margin: 15px 0;
  width: 800px;

  background-color: var(--dark-grey);
}

@media (max-width: 800px) {
  .post-wrapper {
    width: 95vw;
  }
}

p {
  color: white;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  padding: 20px;
  margin: 0;
}

p:hover {
  text-overflow: initial;
  white-space: initial;
  overflow-wrap: break-word;
}

.media-wrapper {
  height: inherit;
  display: flex;

  overflow-y: hidden;
  overflow-x: auto;

  margin: 0;
  padding: 15px;

  /* hardware accelerate */
  transform: translate3d(0,0,1px);
  backface-visibility: hidden;

  /* hide scroll bar */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

/* hide scroll bar */
.media-wrapper::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.media {
  margin: 0;
  padding: 0;
}

video, img, .audio {
  height: 320px;
  padding-right: 10px;
}

.image {
  cursor: zoom-in;
}

.media-and-buttons {
  position: relative;
}

.front {
  right: 0;
  margin-right: 15px;
}

.back {
  left: 0;
  margin-left: 15px;
}

.front, .back {
  position: absolute;
  bottom: 45%;

  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;

  color: black;

  background: rgba(168, 168, 168, 0.3);
  opacity: 0.75;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  img {
    margin-left: 10px;
    width: 25px;
    height: 25px;
  }
}

.front:hover, .back:hover {
  opacity: 1;
}

.user-details {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  p {
    margin: 0;
    padding: 0;

  }

  p:hover {
    text-decoration: underline;
  }
}

.avatar-wrapper {
  border: 2px solid var(--orange-blue-shadow);
  border-radius: 50%;

  height: 50px;
  width: 50px;
  margin: 10px;

  overflow: hidden;

  .avatar {
    object-fit: cover;
    width: inherit;
    height: inherit;
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-wrapper {
  display: flex;
  align-items: center;

  margin: 15px;
  border-radius: 15px;
}

.icons-wrapper > * {
  border-radius: 50%;
  padding: 10px;

  cursor: pointer;

  height: 20px;
  width: 20px;

  margin: 0 5px;

  img {
    height: inherit;
    width: auto;
  }
}

.icons-wrapper > *:hover {
  background-color: rgba(168, 168, 168, 0.3);
}
