<!--<section class="post">-->
<!--  <div class="gradient-text">{{post.text}}</div>-->
<!--  <button class="actions">-->
<!--    <img src="resource/heart.png" class="icons">-->
<!--  </button>-->
<!--  <button class="actions">-->
<!--    <img src="resource/chat-bubble.png" class="icons">-->
<!--  </button>-->
<!--</section>-->

<main class="post-wrapper" *ngIf="post">
  <p>
    {{ post.text }}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto aut commodi cupiditate doloremque doloribus ex facere harum neque, non officiis, qui quibusdam, quidem quod reiciendis saepe sit tempora.
  </p>
  <div class="media-wrapper">
    <div class="media" *ngFor="let file of media; index as i">

<!--      <div class="image-container" *ngIf="file.file.type.startsWith('image')">-->
<!--        <label>-->
<!--          <input type="checkbox">-->
<!--          <div class="image-wrapper">-->
<!--          </div>-->
<!--        </label>-->
<!--      </div>-->

      <img
        [src]="file.url"
        class="image"
        alt="image"
        *ngIf="file.file.type.startsWith('image')"
        (click)="viewImage($event)"
      />

      <video [src]="file.url" *ngIf="file.file.type.startsWith('video')" controls></video>
    </div>
  </div>
</main>
