main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, #00437d, #7c4200);
  background-size: 300% 100%;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  animation: background-animation 17s infinite;
}

@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.sign-in-container {
  border: 5px solid;
  background-color: #1c1c1e;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
  padding: 35px;
  border-radius: 10px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  outline: none;
  width: 100%;
  height: 25px;

  color: #ffffff;
  padding: 5px;
  border: 1px solid #248eff;
  border-radius: 0;
  background-color: transparent;
  transition: border 0.15s;
}

input:focus {
  border: 1px solid #ff7701;
}

button {
  padding: 8px 15px;
  border-radius: 1px;
  font-size: 18px;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
  background-color: #1c1c1e;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background: linear-gradient(to right, #ff7701, #248eff);
}

h2 {
  font-size: 3em;
  color: #00b4ff;
  margin: 0;
  transition: text-shadow 0.3s;
  text-align: start;
}

h2:hover {
  text-shadow: 0 0 10px #00b4ff, 0 0 20px #102b65, 0 0 30px #00b4ff; /* Glow effect */
}

#errorMsg {
  background-image: linear-gradient(to right, #ff7701, #248eff);
  color: transparent;
  background-clip: text;

  margin-bottom: 5px;
}
