<main>
  <div id="errorMsg">{{ errorMsg || '&nbsp;'}}</div>
  <div class="sign-in-container">
    <img src="resource/network-high-resolution-logo-transparent.png" alt="NetWork Logo" class="logo">
    <form (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="email">Email:</label>
        <input [(ngModel)]="email" type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input [(ngModel)]="password" type="password" id="password" name="password" required>
      </div>
      <button type="submit">Sign In</button>
    </form>
  </div>
</main>
