* {
    background-color: #0e0e35;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.profile-bar {
    cursor: pointer;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 100px;
    background: #070719;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    padding: 20px;
    border: 5px solid;
    border-image: linear-gradient(to right, #ffdf88, #ffa203) 1;
}

.profile-bar:hover {
    background: linear-gradient(to right, #ffdf88, #ffa203);
    color: transparent;
}   

.profile-bar:hover::before {
    content: attr(data-name);
    color: black;
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}