* {
  color: white;
}

main {
  background-color: var(--darkest-grey);
  min-height: var(--height-minus-nav-bar);
  padding: 15px;

  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: top;
  box-sizing: border-box;
  gap: 15px;
}

.requests, .likes-interests, .comments {
  border: 2px solid var(--light-grey);
  height: calc(var(--height-minus-nav-bar) / 2 - 60px);
  overflow-y: auto;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(auto-fit, calc(50px + 30px));
  padding: 15px;
  column-gap: 15px;
  row-gap: 20px;
}

.requests {
  width: calc(400px * 3 + 30px + 115px);
  grid-template-columns: repeat(auto-fill, 425px);
}

.likes-interests {
  width: calc((400px * 3 + 30px + 15px) / 3);
  grid-template-columns: repeat(auto-fill,400px);
  overflow-x: hidden;
}

.comments {
  width: calc(2 * (400px * 3 + 30px + 15px) / 3);
  grid-template-columns: repeat(auto-fill, 800px);
}

.activities {
  display: flex;
  gap: 15px;
}

@media (max-width: 1460px) {
  .requests {
    width: 85vw;
  }

  .activities {
    flex-direction: column;
    .likes-interests, .comments {
      width: 85vw;
    }
  }
}

p {
  margin: 0;
  padding: 0;

  writing-mode: vertical-lr;
  transform: scale(-1);

  font-size: 2em;
  background: linear-gradient(to top, #ff7701, #248eff);
  -webkit-background-clip: text;
  color: transparent;
}

.tab {
  display: flex;
  align-items: center;

  gap: 15px;
}

.request {
  display: block;
}

#friend-requests {
  grid-area: friend-requests;
}

#likes-interests {
  grid-area: likes-interests;
}

#comments {
  grid-area: comments;
}
