main {
  background-color: var(--darkest-grey);
  min-height: var(--height-minus-nav-bar);
  padding: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: top;
  box-sizing: border-box;
}


