main {
  background-color: var(--darkest-grey);
  height: var(--height-minus-nav-bar);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: top;
  box-sizing: border-box;
}
