* {
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: var(--height-minus-nav-bar);
  background-color: var(--darkest-grey);
}

.connected, .chat {
  border: 4px solid;
  border-image: linear-gradient(to right, #787878, #645f5f) 1;
  padding: 0;

  height: calc(var(--height-minus-nav-bar) - 80px);
  width: 250px;

  overflow: auto;
  align-items: flex-start;
}

.user {
  display: flex;
  justify-content: left;
  align-items: left;

  padding: 15px;
  cursor: pointer;

  gap: 15px;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.user:hover {
  background-color: var(--light-grey);
}

.image-wrapper {
  border: 4px solid #4f4f4f;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;

  img {
    width: inherit;
    height: inherit;

    object-fit: cover;
  }
}

.chat {
  min-width: 800px;
}
