* {
    background-color: #0e0e35;
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.message-navigation {
    margin-left: 15px;
    margin-top: 15px;
    color: white;
}