
<main class="main">
  <h1>NetWork</h1>
  <h2>Connect. Share. Work.</h2>
  <div class="buttons">
    <button routerLink="sign-in">Sign In</button>
    <button>Sign Up</button>
  </div>
  <div class="background-text">Computer Science<br> Human Resources<br> Marketing
    <br> Public Administration<br> Sustainability <br>and Many More.</div>
  <div class="background-text2">Find Jobs<br> Publish Articles<br> Connect with People
    <br> Create Workspaces <br> Explore <br> Learn</div>
</main>

<router-outlet />
