<main [ngClass]="{'network-page': isNetworkPage, 'messages-page': isMessagesPage
  , 'settings-page': isSettingsPage, 'ads-page' : isAdsPage,
  'home-page': isHomePage, 'notification-page': isNotificationPage,
  'profile-page': isProfilePage, 'search': isSearchPage
}">

  <div class="home-page-container">
    <button type="button" class="logo-button">
      <img src="resource/network-favicon-color.png" alt="NetWork Logo" class="logo">
    </button>
    <button routerLink="/home-page" [queryParams]="{page: 1}" class="nav-button" id="home">Home Page</button>
    <button routerLink="/network-page" class="nav-button" id="net">Network</button>
    <button routerLink="/settings-page" class="nav-button" id="set">Settings</button>
    <button routerLink="/ads-page" [queryParams]="{page: 1}" class="nav-button" id="ad">Job Offers</button>
  </div>

  <div class="main-home-container" *ngIf="session.user">
    <button routerLink="/admin" class="nav-button" id="adm" *ngIf="session.user.role.name === 'ADMIN'">
      <img src="resource/person-gear.svg" alt="Admin" class="admin">
    </button>

    <button routerLink="/search" class="search-container" id="ser">
      <img src="resource/search-interface-symbol.png" alt="Search" class="button-icon">
    </button>

    <button routerLink="/messages-page" class="nav-button" id="mes">
      <img src="resource/email.png" alt="Messages" class="button-icon">
    </button>

    <button routerLink="/notification-page" class="nav-button" id="not">
      <img src="resource/notification.png" alt="Notifications" class="button-icon">
    </button>

    <button [routerLink]="'/profile-page/' + session.user.id" class="nav-profile" id="prof">
      <span class="image-wrapper">
        <img [src]="avatarUrl || 'resource/user.png'" alt="Profile" class="button-icon" id="prof-pic">
      </span>
      <p> {{session.user.firstName}} {{session.user.lastName}} </p>
    </button>

    <button (click)="logout()" class="nav-button" id="logout">
      <img src="resource/power.png" alt="Profile" class="button-icon">
    </button>
  </div>
</main>
