<main [ngClass]="{'network-page': isNetworkPage, 'messages-page': isMessagesPage
  , 'settings-page': isSettingsPage, 'ads-page' : isAdsPage,
  'home-page': isHomePage, 'notification-page': isNotificationPage,
  'profile-page': isProfilePage
}">

  <div class="home-page-container">
    <button type="button" class="logo-button">
      <img src="resource/network-favicon-color.png" alt="NetWork Logo" class="logo">
    </button>
    <button routerLink="/home-page" class="nav-button" id="home">Home Page</button>
    <button routerLink="/network-page" class="nav-button" id="net">Network</button>
    <button routerLink="/settings-page" class="nav-button" id="set">Settings</button>
    <button routerLink="/ads-page" class="nav-button" id="ad">Job Offers</button>
  </div>

  <div class="main-home-container">
    <button type="button" class="search-container">
      <img src="resource/search-interface-symbol.png" alt="Search" class="button-icon">
      <input class="search-input" type="search" placeholder="Search">
    </button>

    <button routerLink="/messages-page" class="nav-button" id="mes">
      <img src="resource/email.png" alt="Messages" class="button-icon">
    </button>

    <button routerLink="/notification-page" class="nav-button" id="not">
      <img src="resource/notification.png" alt="Notifications" class="button-icon">
    </button>

    <button routerLink="/profile-page" class="nav-profile" id="prof">
      <img src="resource/user.png" alt="Profile" class="button-icon">
      <p> {{session.user?.firstName}} {{session.user?.lastName}} sdfsdfs lo </p>
    </button>

    <button (click)="logout()" class="nav-button" id="prof">
      <img src="resource/power.png" alt="Profile" class="button-icon">
    </button>
  </div>

</main>
