.main {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #494949;
  padding-top: 60px;
}

.logo-button {
  width: 60px;
  height: 40px;
  background: #222121;
  margin-top: 3px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.logo-button:hover {
  background: linear-gradient(to right, #ff7701, #248eff);
  box-shadow: 0 0 10px rgb(24, 89, 129);
}

.logo {
  width: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.home-page-container .nav-button {
  width: 120px;
  height: 40px;
  margin-top: 3px;
  text-align: center;
}

.home-page-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 4vh;
  flex-direction: row;
  padding: 15px;
  background: linear-gradient(to bottom, #2a2a2b, #2a2a2b);
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
}

.main-home-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  padding: 16px;
}

.button-icon {
  width: 20px;
  height: 20px;
}

.main-home-container .nav-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #102b65;
  background: #248eff;
}

.main-home-container .nav-profile {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #102b65;
  background: #248eff;
}

.main-home-container .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff7701;
}

.main-home-container .search-container:hover {
  background: linear-gradient(to right, #ff7701, #248eff);
  box-shadow: 0 0 10px rgb(24, 89, 129);
}

.main-home-container .nav-button:hover {
  background: linear-gradient(to right, #ff7701, #248eff);
  box-shadow: 0 0 10px rgb(24, 89, 129);
}

.main-home-container .nav-profile:hover {
  background: linear-gradient(to right, #ff7701, #248eff);
  box-shadow: 0 0 10px rgb(24, 89, 129);
}

.nav-button {
  width: 200px;
  height: 35px;
  margin: 1px;
  cursor: pointer;
  background: #ff8316;
  color: #000405;
  border: none;
  border-radius: 1px;
  font-size: 18px;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: left;
}

.search-container {
  width: 260px;
  height: 40px;
  margin: 1px;
  cursor: pointer;
  background: #7e7e83;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: left;
}

.search-input {
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
  width: max-content;
  height: 30px;
  margin: 7px;
}

.nav-profile {
  width: 40px;
  height: 40px;
  margin: 1px;
  cursor: pointer;
  background: #1c1c1e;
  color: #0b0a0a;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  gap: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: left;
}

.nav-button:hover {
  background: linear-gradient(to right, #ff7701, #248eff);
  box-shadow: 0 0 10px rgb(24, 89, 129);
}
