.network-page {
  background: var(--dark-grey);
  border-image: var(--orange-blue) 1;

  button {
    background: var(--purple);
  }

  .logo-button {
    background: var(--dark-grey);
  }

  button:hover {
    background: var(--orange-blue);
    box-shadow: 0 0 10px var(--orange-blue);
  }

  #net {
    background: var(--orange-blue);
  }
}

#net:hover {
  background: var(--orange-blue);
}
