* {
  font-size: 16px;
  z-index: 1000;
}

main {
  position: sticky;
  top: 0;

  width: 100%;
  border-bottom: 5px solid;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  border-image: var(--orange-blue) 1;
  background: var(--dark-grey);
}
/* only keep bars space-between until they don't fit
  then center them */
@media (min-width: 1200px) {
  main { justify-content: space-between; }
}

.home-page-container, .main-home-container {
  display: flex;
  padding: 16px;
}

button {
  height: 40px;
  margin: 1px;
  cursor: pointer;
  background-color: var(--light-grey);
  color: var(--black);
  border: none;

  transition: box-shadow 0.3s ease-out;
}

button:hover {
  background: var(--orange-blue);
}

.button-icon {
  width: 20px;
}

.admin {
  width: 25px;
}

.logo-button {
  width: 60px;
  padding: 0;
  border: none;
  background: var(--darker-grey);

  .logo {
    height: inherit;
    width: auto;
  }
}

.home-page-container .nav-button {
  width: 120px;
}

.main-home-container .nav-button {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  width: max-content;
  margin-left: 14px;

}

.nav-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: 160px;

  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.settings-page #set {
  background: var(--orange-blue);
}

.ads-page #ad {
  background: var(--orange-blue);
}

.home-page #home {
  background: var(--orange-blue);
}

.notification-page #not {
  background: var(--orange-blue);
}

.profile-page #prof {
  background: var(--orange-blue);
}

.messages-page #mes {
  background: var(--orange-blue);
}

.search #ser {
  background: var(--orange-blue);
}

#not-has {
  border: 1px solid;
  border-image: linear-gradient(to right, #ff0000, #ae6b00) 1;
  background: linear-gradient(to right, #ff4b4b, #ff9d00);
}

#prof-pic {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  width: 30px;
  height: 30px;
}
