.message {
  min-width: 250px;
  max-width: 350px;

  min-height: 50px;

  padding: 10px;
  p {
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
  }
}

.sender {
  p {
    margin: 0;
    padding: 5px 0;
  }
}
