<main
  *ngIf="message && user"
  [style.float]="(message.sender.id === user.id) ? 'right' : 'left'"
>
  <div class="sender">
    <p>
      {{ message.sender.firstName }} {{ message.sender.lastName }}
    </p>
  </div>
  <div
    class="message"
    [style.border-radius]=
      "(message.sender.id === user.id) ?
      '15px 0 15px 15px' : '0 15px 15px 15px'"
    [style.background]=
      "(message.sender.id === user.id) ?
      'linear-gradient(to right, #111, #111)' : 'var(--light-grey)'"
  >
    <p>
      {{ message.message }}
    </p>
  </div>
</main>
