.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#avatar-input {
  border: 4px solid var(--orange-blue-shadow);

  width: 100px;
  height: 100px;

  border-radius: 50%;

  overflow: hidden;

  position: relative;
}

#avatar-display {
  object-fit: cover;
  width: inherit;
  height: inherit;
}

#avatar-input::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;

  top: 0;
  left: 0;

  background: rgba(0, 180, 255, 0.3);
  opacity: 0;

  transition: opacity 0.3s;
}

#avatar-input:hover::after {
  opacity: 1;
  cursor: pointer;
}

#avatar-label-wrapper {
  display: flex;
  margin-bottom: 5px;
}

#avatar-label-wrapper > label {
  margin-right: 4px;
}

#avatar-label-wrapper > a {
  text-decoration: underline white;
}

#avatar-label-wrapper > a:hover {
  color: #cacaca;
  cursor: pointer;
}

#image-upload {
  display: none;
}
