<main class="main">
  <body>
    <div class="profile-bar">

        <div class="main-prof">
          <img [src]="avatarUrl || 'resource/user.png' " alt="Profile Picture" class="profile-pic">
        </div>

        <button routerLink="/profle" class="name-button" (click)="refreshPage()">
          {{session.user.firstName}} {{session.user.lastName}}
        </button>

      <div class="options">
        <button routerLink="/add-post" class="add-post">Add Post</button>
        <button routerLink="/about-me" class="about-me" >
          About Me
        </button>
      </div>

      <div class="display-about-me">
        <p><strong>Experience:</strong> {{session.user.xpInfo}} </p>
        <p><strong>Education: </strong> {{session.user.edInfo}} </p>
        <p><strong>Skills:    </strong> {{session.user.skInfo}} </p>
      </div>

    </div>

  </body>
</main>
