main {
  font-family: 'Roboto', serif;
  background: #1c1c1e;
  color: #ffffff;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.profile-bar .main-prof .profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #222323;
  object-fit: cover;
  align-items: center;
  margin-top: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-top: 3px;
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 1px;
}

.display-about-me {
  text-align: center;
  color:rgb(214, 214, 214);
}

.profile-bar {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 750px;
  background: #494949;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  padding: 20px;
  border: 5px solid;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
}

.profile-bar .main-prof {
  margin-bottom: 5px;
}

.profile-bar .name-button {
  background: #494949;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  width: 250px;
  height: 40px;
  padding: 0;
  border: 0 solid;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(to right, #ff7701, #248eff);
  -webkit-background-clip: text;
  color: transparent;
}

.options {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.options .add-post {
  background-color: #3e3e42;
  color: #ffffff;
  font-size: 1em;
  width: 120px;
  height: 40px;
  cursor: pointer;
  border: 3px solid;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.options .add-post:hover {
  background: linear-gradient(to right, #ff7701, #248eff);
  box-shadow: 0 0 10px rgb(24, 89, 129);
}

.options .about-me {
  background-color: #3e3e42;
  color: #ffffff;
  font-size: 1em;
  margin-left: 10px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  border: 3px solid;
  border-image: linear-gradient(to right, #ff7701, #248eff) 1;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.options .about-me:hover {
  background: linear-gradient(to right, #ff7701, #248eff);
  box-shadow: 0 0 10px rgb(24, 89, 129);
}
