<main>
  <div class="home-page-container">
    <button type="button" class="nav-button">Home Page</button>
    <button type="button" class="nav-button">Network</button>
    <button type="button" class="nav-button">Settings</button>
    <button type="button" class="nav-button">Ads</button>
    <button type="button" class="nav-button">Messages</button>
    <button type="button" class="nav-button">Notifications</button>
    <button type="button" class="nav-button">Profile</button>
  </div>
</main>
