<main>

  <div class="home-page-container">
    <button type="button" class="logo-button">
      <img src="resource/network-favicon-color.png" alt="NetWork Logo" class="logo">
    </button>
    <button routerLink="/home-page" class="nav-button">Home Page</button>
    <button routerLink="/network-page" class="nav-button">Network</button>
    <button routerLink="/settings-page" class="nav-button">Settings</button>
    <button routerLink="/ads-page" class="nav-button">Job Offers</button>
  </div>

  <div class="main-home-container">
    <button type="button" class="search-container">
      <img src="resource/search-interface-symbol.png" alt="Search" class="button-icon">
      <input class="search-input" type="search" placeholder="Search">
    </button>

    <button routerLink="/messages-page" class="nav-button">
      <img src="resource/email.png" alt="Messages" class="button-icon">
    </button>

    <button routerLink="/notifications-page" class="nav-button">
      <img src="resource/notification.png" alt="Notifications" class="button-icon">
    </button>

    <button routerLink="/profile-page" class="nav-profile">
      <img src="resource/user.png" alt="Profile" class="button-icon">
      Damianos Poulias
    </button>
  </div>

</main>
